/* JQuery Ui Stuff */
.ui-datepicker {
}

.ui-autocomplete-loading {
	background: white url("images/ui-anim_basic_16x16.gif") right center
		no-repeat;
}

/* input elements */
input[type=reset], input[type=submit] {
}

input[type=text] {
	min-width: 200px;
}

.formInput {
	float: left;
	position: relative;
	display: block;
	width: 300px;
}

/* label element */
label {
	font-size: 125%;
	font-weight: bold;
	text-align: left;
	float: left;
}

label.noStyle{
	width: 200px;
}

label.form {
	float: left;
	position: relative;
	display: block;
	font-size: 130%;
	font-weight: bolder;
	text-align: left;
	margin: 2.5px;
	width: 180px;
}
label.search {
	font-size: 125%;
	font-weight: bold;
	padding-right: 1px;
}

div#register {
	position: relative;
	width: 500px;
}

div.sideBySide {
	width: 450px;
}

legend {
	font-size: 150%;
	font-weight:bold;
	color: #808080;
}

fieldset {
	border: none;
}

ul#nav {
	top: 50px;
	left: 10px;
	list-style: none;
	margin: 0;
	padding: 0;
	height: 20px;
	display: inline;
	overflow: hidden;
	width: 400px;
}

ul#nav li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
}

div.ui-widget {
	font-size: 100%;
}

div#footer {
	position: relative;
	padding-top: 30px;
	font-size: 75%;
}

div#content {
	padding-top: 30px;
	font-size: 75%;
}

div#content2 {
	display: inline-block;
}

div#navigation {
	font-size: 75%;
}

h1 {
	font-size: 36px;
}

body {
	font-family: Calibri;
}