/* jquery ui stuff */
.ui-datepicker {
	
}

.ui-autocomplete-loading {
	background: white url("images/ui-anim_basic_16x16.gif") right center
		no-repeat;
}

/* inputs */
input[type=text] {
	min-width: 200px;
}

input.formInput {
	float: left;
	position: relative;
	display: block;
	width: 300px;
}

/* labels */
label {
	font-weight: bold;
	text-align: left;
}

label.form {
	float: left;
	position: relative;
	display: block;
	font-weight: bolder;
	text-align: left;
	margin: 2.5px;
	width: 180px;
}

label.search {
	font-weight: bold;
	padding-right: 1px;
}

div#register {
	position: relative;
	width: 500px;
}

div.sideBySide {
	width: 450px;
}

legend {
	font-weight: bold;
	color: #808080;
}

fieldset {
	border: none;
}

button.navigation-button {
	display: inline;
	padding: 0;
}

ul#nav {
	top: 50px;
	left: 10px;
	list-style: none;
	margin: 0;
	padding: 0;
	height: 20px;
	display: inline;
	overflow: hidden;
	width: 400px;
}

ul#nav li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
}

div.ui-widget {
	
}

div#footer {
	position: relative;
	padding-top: 30px;
}

div#content {
	padding-top: 30px;
}

div#content2 {
}

div#navigation {
}

h1 {
}

body {
	margin: auto;
	width: 720px;
	padding-top: 20px;
}